* {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden; /* Solves mobile scrolling issues on wide variety of browsers */
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  touch-action: manipulation; /* Prevents the following error on every touch event:
                              [Intervention] Unable to preventDefault inside 
                              passive event listener due to target being treated as passive.
                              skrollr.js:730 */
  scrollbar-width: thin;
  scrollbar-color: #b27dc1 #202020;
}
#skrollr-body {
  height: 100vh;
}
body {
  background-image:url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
  background-repeat:repeat;
  }
/*
 *  
 * 
 * 
 * 
 * 
 * 
 *  SCROLL BAR
 */
::-webkit-scrollbar{
  width: 13px;
  height: 13px;
}
::-webkit-scrollbar-thumb{
  background: radial-gradient(circle, #b27dc1 37%,#9668a3 91%);
  border: 1px solid #4A0A5C;
  border-radius: 21px;
}
::-webkit-scrollbar-thumb:hover{
  background: radial-gradient(circle, #b883c7 26%,#b27dc1 85%);
}
::-webkit-scrollbar-track{
  background: #202020;
  border: 4.4px solid #131313;
  border-radius: 0px;
  box-shadow: inset -10px -10px 0px -30px #202020;
}

/*
 *  SCROLL BAR
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 *  BACKGROUND
 */
.willowbg {
  background-size: cover;
  position: fixed;  
  z-index: 5;
}
#bottom-layer {
  background-image: url(../../assets/Images-final/logo/willow-logo-default-colour-notag.png);
  width: 90vw;
  height: 60vh;
  opacity: 0.6;
  top: 22%;
  left: 7%;
  opacity: 0.3;
}
/*
 *  BACKGROUND
 * 
 * 
 * 
 * 
 * 
 * 
 * WELCOME
 */
.welcome-holder {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  left: 0;
  z-index: 190;
  background-color: rgb(17, 17, 17);
}
.welcome{
  position: fixed;
  z-index: 500;
  left: 50%;
  transform: translateX(-50%);
  color: ivory;
  font-size: 1.5em;
  opacity: 0.7;
  animation: test 1.5s ease-in-out infinite alternate;
}
@keyframes test {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.4;
  }
}
.welcome.mobile{
  display: none;
}
.welcome.desktop{
  display: block;
}
.welcome-img-default {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.welcome-dot {
  background-image:url(../../assets/Images-final/accents/welcome/dot-original.png);
  z-index: 200
}
.welcome-hi {
  background-image:url(../../assets/Images-final/accents/welcome/hi-original.png);
  z-index: 90;
}
.welcome-welcome {
  background-image: url(../../assets/Images-final/accents/welcome/welcome-original.png);
  z-index: 80;
}
.welcome-to {
  background-image: url(../../assets/Images-final/accents/welcome/to-original.png);
  z-index: 70;
}
.welcome-willow {
  background-image: url(../../assets/Images-final/accents/welcome/willow-original.png);
  z-index: 120;
  opacity: 0;
}
.welcome-etp {
  background-image: url(../../assets/Images-final/accents/welcome/etp-original.png);
  z-index: 110;
  opacity: 0;
  animation: willow 2.5s forwards;
}
.welcome-animation-hider {
  background-color: #111111;
  width:100vw;
  height: 100vh;
}
.welcome-animation {
  width: 100vw;
  height: 100vh;
  position: fixed;
  overflow: hidden;
}
#a1 {
  z-index: 95;
}
#a2 {
  z-index: 85;
}
#a3 {
  z-index: 75;
}
#a4 {
  z-index: 125;
  opacity: 0;
}
#a5 {
  z-index: 115;
  opacity: 0;
}
.a1 {
  animation: a1 2.5s forwards;
}
.a2 {
  animation: a2 2.5s forwards;
}
.a3 {
  animation: a3 2.5s forwards;
}
.a4 {
  animation: a4 2.5s forwards;
}
.a5 {
  animation: a5 2.5s forwards;
}
.a6 {
  animation: a6 2.5s forwards;
}
.a7 {
  animation: a7 0.5s 2.5s forwards;
}
@keyframes a1 {
  0% {left: 10%}
  16% {left: 40%}
  17% {left: 100%}
  50% {left: 100%}
  66% {left: 0%}
  100% {left: 0%}
}
@keyframes a2 {
  17% {right: 15%}
  33% {right: 70%}
  100% {right: 70%}
}
@keyframes a3 {
  34% {bottom: 30%}
  49% {bottom: 50%}
  100% {bottom: 100%}
}
@keyframes a4 {
  0% {right: 0%; opacity: 0;}
  59% {right: 0%; opacity: 0}
  60% {right: 0%; opacity: 1}
  61% {right: 0%; opacity: 1}
  83% {right: 100%; opacity: 1}
  100% {right: 100%; opacity:1}
}
@keyframes a5 {
  0% {opacity: 0}
  60% {opacity: 0}
  61% {opacity: 1}
  84% {left: 35%}
  100% {left: 100%; opacity: 1}
}
@keyframes a6 {
  0% {opacity: 0;}
  62% {opacity: 0}
  63% {opacity: 1}
  100% {opacity: 1}
}
@keyframes a7 {
  0% {opacity: 1}
  98% {opacity: 0}
  100% {opacity: 0}
}
.loader {
  color: #ffffff;
  font-size: 20px;
  margin: 100px auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  z-index: 300;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  position: fixed;
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0 -3em 0 0.2em, 2em -2em 0 0em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 0;
  }
  12.5% {
    box-shadow: 0 -3em 0 0, 2em -2em 0 0.2em, 3em 0 0 0, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  25% {
    box-shadow: 0 -3em 0 -0.5em, 2em -2em 0 0, 3em 0 0 0.2em, 2em 2em 0 0, 0 3em 0 -1em, -2em 2em 0 -1em, -3em 0 0 -1em, -2em -2em 0 -1em;
  }
  37.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 0, 2em 2em 0 0.2em, 0 3em 0 0em, -2em 2em 0 -1em, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  50% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 0em, 0 3em 0 0.2em, -2em 2em 0 0, -3em 0em 0 -1em, -2em -2em 0 -1em;
  }
  62.5% {
    box-shadow: 0 -3em 0 -1em, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 0, -2em 2em 0 0.2em, -3em 0 0 0, -2em -2em 0 -1em;
  }
  75% {
    box-shadow: 0em -3em 0 -1em, 2em -2em 0 -1em, 3em 0em 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0.2em, -2em -2em 0 0;
  }
  87.5% {
    box-shadow: 0em -3em 0 0, 2em -2em 0 -1em, 3em 0 0 -1em, 2em 2em 0 -1em, 0 3em 0 -1em, -2em 2em 0 0, -3em 0em 0 0, -2em -2em 0 0.2em;
  }
}
/*
 * WELCOME
 *
 * 
 * 
 * 
 * 
 * 
 *  HEADERS
 */
#gallery-header {
  background-image: url(../../assets/Images-final/accents/header-gallery-vertical.png);
  background-repeat-x: repeat;
  height: 12000;
  width: 150px;
  left: 119vw;
  position: fixed;
  z-index: 5;
  background-size: contain;
}
#bingo-header {
  background-image: url(../../assets/Images-final/accents/header-bingo-vertical.png);
  background-repeat-x: repeat;
  height: 12000;
  width: 150px;
  left: 198vw;
  position: fixed;
  z-index: 5;
  background-size: contain;
}
#av-header {
  background-image: url(../../assets/Images-final/gif/header-av-vertical.gif);
  background-repeat-x: repeat;
  height: 12000;
  width: 150px;
  left: 290vw;
  position: fixed;
  z-index: 5;
  background-size: contain;
}
#installation-header {
  background-image: url(../../assets/Images-final/accents/header-installation-vertical.png);
  background-repeat-x: repeat;
  height: 12000;
  width: 150px;
  left: 390vw;
  position: fixed;
  z-index: 5;
  background-size: contain;
}
#gallery-header-mobile{
  background-image: url(../../assets/Images-final/accents/header-gallery.png);
  background-repeat-x: repeat;
  background-size: contain;
  position: fixed;
  z-index: 5;
  height:150px;
  width: 6000px;
  left: 0;
  top: 98vh;
  opacity: 0.3;
}
#bingo-header-mobile{
  background-image: url(../../assets/Images-final/accents/header-bingo.png);
  background-repeat-x: repeat;
  background-size: contain;
  position: fixed;
  z-index: 5;
  height:150px;
  width: 6000px;
  left: 0;
  top: 278vh;
  opacity: 0.3;
}
#av-header-mobile{
  background-image: url(../../assets/Images-final/gif/header-av.gif);
  background-repeat-x: repeat;
  background-size: contain;
  position: fixed;
  z-index: 5;
  height:150px;
  width: 6000px;
  top: 330vh;
}
#installation-header-mobile{
  background-image: url(../../assets/Images-final/accents/header-installation.png);
  background-repeat-x: repeat;
  background-size: contain;
  position: fixed;
  z-index: 5;
  height:150px;
  width: 8000px;
  top: 435vh;
}
/*
 *  HEADERS
 * 
 * 
 * 
 * 
 * 
 * 
 *
 * MENU Button
 */
#menu-button {
  width: 80px;
  height: 80px;
  background-color: rgb(68, 68, 68);
  bottom: 0;
  left: 0;
  position: fixed;
  z-index: 30;
}
#svg{
  width: 80px;
  height: 80px;
}
.menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  padding: 0;
}
.line {
  fill: none;
  stroke: black;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
.line1 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.line2 {
  stroke-dasharray: 60 60;
  stroke-width: 6;
}
.line3 {
  stroke-dasharray: 60 207;
  stroke-width: 6;
}
.opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
/* Menu Notice Indicator */
#menu-notice {
  background: url(../../assets/Images-final/accents/Menu-full.png);
  height: 80px;
  width: 320px;
  bottom: 0;
  right: 0;
  z-index: 21;
  position: fixed;
}
/*
 * MENU Button
 * 
 * 
 * 
 * 
 * 
 *
 * MENU
 */
#menu {
  /*background-color:rgba(26, 16, 44, 0.815);*/
  width: 100vw;
  height: 100vh;
  z-index: 19;
  position: fixed;
  display:none;
}

#menu .container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;  
  z-index: 1;
}

#menu .container .section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#menu .container .section .content-menu {
  max-width: 800px;
  padding: 20px;
  text-align: center;
  z-index: 10;
  display: flex;
}

#menu .container .section .content-menu p {
  font-size: 1.3em;
  line-height: 1.4em;
  color: ivory;
  z-index: 10;
  align-self: center;
}

#menu .mobile {
  display: none;
}

#menu .icon {
  background-size: contain;
  margin: 50px;
  width: 160px;
  height: 160px;
} 

#menu .icon:hover{
  -webkit-filter:
    invert(28%)
    sepia(100%)
    saturate(11)
    hue-rotate(-62deg);
  filter: 
    invert(28%)
    sepia(92%)
    hue-rotate(-62deg)
    saturate(11);
}

#menu .icon-email{
  background-image: url(../../assets/Images-final/icons/Email.png);
}
#menu .icon-location{
  background-image: url(../../assets/Images-final/icons/location.png);
}
#menu .icon-telephone{
  background-image: url(../../assets/Images-final/icons/phone2.png);
}
#menu .icon-other{
  background-image: url(../../assets/Images-final/icons/Coming\ Soon.png);
}
#menu .icon-regulation{
  background-image: url(../../assets/Images-final/icons/regulation.png);
}
#menu .icon-info{
  background-image: url(../../assets/Images-final/icons/info.png);
}
/* MENU tooltip Box*/
.con-tooltip {

  position: relative;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

/* MENU tooltip */
.tooltip {
  visibility: hidden;
  z-index: 1;
  opacity: .40;
  width: 100%;
  color: #E086D3;
  position: absolute;
  top:-40%;
  border-radius: 9px;
  transform: translateY(9px);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 3px rgb(255 255 255 / 96%);
}

/* MENU tooltip  after*/
.tooltip::after {
  content: " ";
  width: 0;
  height: 0;
  
  border-style: solid;
  border-width: 12px 12.5px 0 12.5px;
  border-color: #fffdfd transparent transparent transparent;

  position: absolute;
  left: 40%;

}
.con-tooltip:hover .tooltip{
  visibility: visible;
  transform: translateY(-10px);
  opacity: 1;
    transition: .3s linear;
  -webkit-animation: tpfs 1s ease-in-out infinite  alternate;
          animation: tpfs 1s ease-in-out infinite  alternate;
}
@-webkit-keyframes tpfs {
  0%{
    transform: translateY(6px); 
  }
  100%{
    transform: translateY(1px); 
  }
}
@keyframes tpfs {
  0%{
    transform: translateY(6px); 
  }
  100%{
    transform: translateY(1px); 
  }
}
.top:hover 
  {transform: translateY(-6px);  
}
#menu .submenu {
  display: none;
  position: fixed;
  overflow: hidden;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translatey(-50%) translatex(-50%);
  height: 480;
  width: 720;
  padding: 15px;
  padding-top: 48px;
  background-color: rgb(24 24 24);
  border-radius: 25px;
  border: 1px solid #b27dc1;
  animation: .2s cert-pop forwards;
  color: ivory;
  overflow-wrap: break-word;
  -webkit-box-shadow: 0px 0px 15px 5px #B27DC1; 
  box-shadow: 0px 0px 15px 5px #B27DC1;
}
#info-holder .submenu-wrap{
  display: block;
  justify-content: unset;
  }

@keyframes cert-pop {
  from {width: 0}
  to {width: 720}
}
.submenu .close {
  background-image: url(../../assets/Images-final/accents/close.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: calc(100% - 64px);
  width: 64px;
  height: 48px;
  cursor: pointer;
  color: ivory;
}
.submenu .close:hover {
  background-color: #B27dc1;
}
.submenu .close:active {
  border-bottom: 3px solid #b27dc1;
  border-left: 3px solid #b27dc1;
  background-color: unset;
}
.submenu .title {
  left: 64px;
  position: absolute;
  top: 15px;
}
.submenu .file {
  background-image: url(../../assets/Images-final/icons/Coming\ Soon.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 0;
  width: 64px;
  height: 48px;
  position: fixed;
}
.submenu-wrap {
  top: 48px;
  left: 15px;
  right: 15px;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding: 15px;
}
#infoholder .submenu {

}
#iso-9001 {
  background-image: url(../../assets/Images-final/iso/ISO-9001-2015-badge-grey.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  height: 500;
  width: 175;
}
#iso-27001 {
  background-image: url(../../assets/Images-final/iso/ISO-27001-2013-badge-grey.png);
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  height: 500;
  width: 175;
  margin-left: 100px;
}

/*
 * MENU
 * 
 * 
 * 
 * 

 * 
 * 
 * 
 * 
 * 
 * 
 *
 * LOGO BAR
 */
#logo {
  background-image: url(../../assets/Images-final/logo/Vertical-scrolling-logo.png);
  background-repeat-x: repeat;
  height: 80px;
  width: 12000px;
  left: -5960px;
  bottom: 6015px;
  position: fixed;
  z-index: 20;
  background-size: contain;
  background-color: rgb(101 101 101 / 50%);
}

#logo-mobile {
  background-image: url(../../assets/Images-final/logo/Vertical-scrolling-logo.png);
  background-repeat-x: repeat;
  height: 60px;
  width: 12000px;
  position: fixed;
  z-index: 20;
  background-size: contain;
  display: none;
  background-color: rgb(68, 68, 68);
}

.mini-logo {
  background-image: url(../../assets/Images-final/logo/willow-logo-default-notag-nofill-small.png);
  background-size: contain;
  position: fixed;
  width: 300;
  top: 45%;
  right: -150;
  height: 120;
  opacity: 0.7;
  z-index:10;
}

.mini-logo-mobile {
  background-image: url(../../assets/Images-final/logo/willow-logo-default-notag-nofill-small.png);
  background-size: contain;
  position: fixed;
  width: 300;
  top: 220.5vh;
  height: 120;
  opacity: 0.7;
  right: 50%;
  transform: translateX(51%);
  display:none;
  z-index:10;
}
/*
 * LOGO BAR
 * 
 * 
 * 
 * 
 *
 *  Main content panel
 */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;  
  z-index: 1;
  /*opacity: 0;
  animation: start 1s 0.5s ease-in forwards;*/
}
.container-blur {
  filter: blur(1rem);
}
.container section {
  min-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:rgb(25, 25, 25);
  margin-left: -1px;
}
.container section:nth-child(2){
  background-image: url(../../assets/Images-final/gif/noise-seamless-4bit-128x.gif);
  min-width: 50%;
}
.container section:nth-child(3){
  background:rgb(17, 17, 17);
  min-width: 50%;
}
.container section:nth-child(4){
  background:rgb(17, 17, 17);
}
.container section:nth-child(5){
  background:rgb(51, 51, 51);
}
.container section:nth-child(6){
  background:rgb(17, 17, 17);
}
.container section:nth-child(7){
  background: rgb(3 3 3);
}
.container section:nth-child(8){
  background:rgb(245, 245, 245);
  min-width: 50%;
}
.container section:nth-child(9){
  background:rgb(33, 33, 33);
  min-width: 50%;
}
.container section:nth-child(10){
  background-image: url(../../assets/Images-final/gif/noise-seamless-4bit-128x.gif);
}
.container section:nth-child(11){
  background-image: url(../../assets/Images-final/gif/noise-seamless-4bit-128x.gif);
}
.container section .content {
  max-width: 800px;
  padding: 40px;
  text-align: left;
  z-index: 10;
}
.container section .content.install {
  max-width: unset;
}
.container section .content.install p {
  padding-right: 15px;
}
.container section .content.event {
  min-width: 800px;
}
.content:after {
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.content h2 {
  font-size: 3em;
  color:ivory;
  text-align: center;
  z-index: 10;
}
.container section .content p {
  font-size: 0.9em;
  line-height: 1.4em;
  color: ivory;
  z-index: 10;
  letter-spacing: 1px;
  text-align: right;
}
/* 
 * Main content panel
 *
 * 
 * 
 * 
 * 
 * 
 * EVENT
 */
#event-gif {
  background-image: url(../../assets/Images-final/gif/Event-UI-pink-touch.gif);
  background-color: black;
  background-size: contain;
  background-repeat: no-repeat;
  height: 406px;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  margin-bottom: 35px;
}
/*
 * EVENT
 * 
 * 
 * 
 * 
 * 
 * 
 *  
 * GALLERY
 */
#gallery {
  left: 128%;
  position: fixed;
  width: 1150px;
  height: 600px;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  margin-bottom: 35px;
  z-index: 20;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#pictures-mobile {
  height: 55vh;
  display: none;
}
.gallery-load {
  background-image: url(../../assets/Images-final/gif/Willow-gallery-animation2.gif), url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
}
.gallery-text-holder {
  position: fixed;
  width: 360;
  height: 290;
  left: 70px;
  top: 153px;
  display: none;
}
p.width600 {
  max-width: 800;
}
.gallery-text-holder-mobile {
  position: fixed;
  width: 360;
  height: 230;
  left: 70px;
  top: 115px;
  display: none;
}
.gallery-text {
  background-repeat: no-repeat;
  position: absolute;
  height: 50px;
  width: 360;
}
.gallery-text.on {
  border-bottom: 2px dotted #b27dc1;
}
#gallery-event {
  background-image: url(../../assets/Images-final/accents/Gallery/Event.png);
  left: 2;
  animation: gallery-text 15s ease-in-out infinite;
}
#gallery-tevent {
  background-image: url(../../assets/Images-final/accents/Gallery/tEvent.png);
  opacity: 0;
  animation: gallery-ttext 15s ease-in-out infinite;
}
#gallery-bigd {
  background-image: url(../../assets/Images-final/accents/Gallery/Bigd.png);
  left: 3;
  top: 64;
  animation: gallery-text 15s 3s ease-in-out infinite;
}
#gallery-tbigd {
  background-image: url(../../assets/Images-final/accents/Gallery/tBigd.png);
  top: 64;
  opacity: 0;
  animation: gallery-ttext 15s 3s ease-in-out infinite;
}
#gallery-media {
  background-image: url(../../assets/Images-final/accents/Gallery/media.png);
  left: 4;
  top: 122;
  animation: gallery-text 15s 6s ease-in-out infinite;
}
#gallery-tmedia {
  background-image: url(../../assets/Images-final/accents/Gallery/tmedia.png);
  top: 122;
  opacity: 0;
  animation: gallery-ttext 15s 6s ease-in-out infinite;
}
#gallery-installation {
  background-image: url(../../assets/Images-final/accents/Gallery/AV.png);
  left: 2;
  top: 182;
  animation: gallery-text 15s 9s ease-in-out infinite;
}
#gallery-tinstallation {
  background-image: url(../../assets/Images-final/accents/Gallery/tAV.png);
  top: 180;
  opacity: 0;
  animation: gallery-ttext 15s 9s ease-in-out infinite;
}

#gallery-command {
  background-image: url(../../assets/Images-final/accents/Gallery/Command.png);
  top: 242;
  animation: gallery-text 15s 12s ease-in-out infinite;
}

#gallery-tcommand {
  background-image: url(../../assets/Images-final/accents/Gallery/tCommand.png);
  top: 240;
  opacity: 0;
  animation: gallery-ttext 15s 12s ease-in-out infinite;
}

#gallery-mobile {
  
  background-image: url(../../assets/Images-final/gif/Willow-gallery-animation-vertical.gif), url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
  position: fixed;
  width: 600px;
  height: 1150px;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  margin-bottom: 35px;
  z-index: 20;
  top: 94vh;
  left: 50%;
  transform: translatex(-50%) scale(0.7);
  overflow: hidden;
  display: none;
}

.pic-position {
  width: 585px;
  height: 500px;
  position: fixed;
  left: 1150px;
  top: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  transform: translateY(-50%);
  animation: wipe 3s ease-in-out infinite;
}

.pic-position:nth-child(2) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-event.jpg);
}
.pic-position:nth-child(3) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-bigd.jpg);
}
.pic-position:nth-child(4) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-wm.jpg);
}
.pic-position:nth-child(5) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-av.jpg);
}
.pic-position:nth-child(6) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-command.jpg);
}

.gallery-one {
  animation: gallery-slide 15s ease-in-out infinite;
}
.gallery-two {
  animation: gallery-slide 15s 3s ease-in-out infinite;
}
.gallery-three {
  animation: gallery-slide 15s 6s ease-in-out infinite;
}
.gallery-four {
  animation: gallery-slide 15s 9s ease-in-out infinite;
}
.gallery-five {
  animation: gallery-slide 15s 12s ease-in-out infinite;
}

.gallery-one-mobile {
  animation: gallery-slide-mobile 15s ease-in-out infinite;
}
.gallery-two-mobile {
  animation: gallery-slide-mobile 15s 3s ease-in-out infinite;
}
.gallery-three-mobile {
  animation: gallery-slide-mobile 15s 6s ease-in-out infinite;
}
.gallery-four-mobile {
  animation: gallery-slide-mobile 15s 9s ease-in-out infinite;
}
.gallery-five-mobile {
  animation: gallery-slide-mobile 15s 12s ease-in-out infinite;
}

@keyframes gallery-slide-mobile {
  0% {left: 600px;}
  2% {left: 600px;}
  10% {left: 20px;}
  18% {left: 20px;}
  22% {left: 600px;}
  25% {left: 600px;}
  100% {left: 600px;}
}

@keyframes gallery-slide {
  0% {left: 1150px;}
  2% {left: 1150px;}
  10% {left: 565px;}
  18% {left: 565px;}
  22% {left: 1150px;}
  25% {left: 1150px;}
  100% {left: 1150px;}
}

@keyframes gallery-text {
  0% {opacity: 1;}
  2% {opacity: 1;}
  10% {opacity: 0;}
  18% {opacity: 0;}
  22% {opacity: 1;}
  25% {opacity: 1;}
  100% {opacity: 1;}
}
@keyframes gallery-ttext {
  0% {opacity: 0;}
  2% {opacity: 0;}
  10% {opacity: 1;}
  18% {opacity: 1;}
  22% {opacity: 0;}
  25% {opacity: 0;}
  100% {opacity: 0;}
}
/* Gallery level 1 */
.gallery-pop {
  display: none;
  overflow: hidden;
  position: fixed;
  width: 680px;
  height: 420px;
  background-color: #111111;
  border: 3px solid #b27dc1;
  border-radius: 8px;
  z-index: 210;
  color: ivory;
  padding: 15px;
  padding-top: 60px;
  font-size: 0.9em;
  
}
.gallery-pop.active {
  z-index: 220;
}


.gallery-pop:nth-of-type(7){
  top: 50%;
  transform: translatey(-50%);
  left: 340vh;
  height: 700px;
}
.gallery-pop:nth-of-type(8){
  background: rgb(35, 35, 35);
  top: 44%;
  transform: translatey(-56%);
}
.gallery-pop:nth-of-type(9){
  background: url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
  top: 48%;
  transform: translatey(-52%);
}
.gallery-pop:nth-of-type(10){
  background: rgb(29, 29, 29);
  top: 52%;
  transform: translatey(-48%);
  left: 355vh;
}
.gallery-pop:nth-of-type(11){
  background: rgb(29, 29, 29);
  top: 56%;
  transform: translatey(-44%);
  left: 355vh;
}
.gallery-pop:hover {
  background-image: unset;
  background: rgb(10 10 10);
}
.gallery-pop:active {
  background:rgba(17, 17, 17);
}
.gallery-pop.display {
  display: unset;
  animation: slide-in 0.15s ease-out forwards;
}
@keyframes slide-in {
  from {opacity: 0; left: calc(100% + 400px)}
  to {opacity: 1; left: calc(100% + 1050px)}
}

.gallery-pop .file {
  background-image: url(../../assets/Images-final/accents/file.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  top: 0;
  left: 0;
  width: 64px;
  height: 48px;
  position: fixed;
}
.gallery-pop .title {
  left: 64px;
  position: absolute;
  top: 15px;
}
.gallery-pop .close {
  background-image: url(../../assets/Images-final/accents/close.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  left: calc(100% - 64px);
  width: 64px;
  height: 48px;
  cursor: pointer;
  color: ivory;
  -webkit-tap-highlight-color: #b27dc1;
}
.gallery-pop .close:hover {
  background-color: #B27dc1;
}
.gallery-pop .close:active {
  border-bottom: 3px solid #b27dc1;
  border-left: 3px solid #b27dc1;
  background-color: unset;
}
.gallery-pop ul{
  padding-left: 20px;
}
.gallery-pop ul li ul {
  padding-left: 20px;
}




/*
 * GALLERY
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * BINGO 
 */
#bingo {
  padding:0;
  max-width: 1200px;
  z-index: 20;
}
#bingo-box {
  max-width: calc(60rem + 15px);
  padding: 20px;
  text-align: center;
  z-index: 10;
  display: flex;
  color: rgb(195 195 195);
  padding: 2rem;
  float:right;
}

#bingo-text {
  word-wrap: break-word;
  max-width: calc(60rem + 15px);
  color: ivory;
  text-align: right;
  padding-right: 25px;
  padding-left: 300px;
}
.bingo-box-mobile {
  max-width: calc(60rem + 15px);
  text-align: center;
  z-index: 10;
  color: rgb(195 195 195);
  padding: 2rem;
  display: none;
  margin-bottom: 25px;
  background-image: url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
}

.bingo-number {
  position: relative;
  display: inline-block;
  background-size: contain;
  border: 2px solid #b27dc10a;
  font-size: 3rem;
  padding: 5px;
  width: 6rem;
  height: 6rem;
  background-image: url(../..//assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
}
.bingo-column:nth-child(10){
  width: 8rem;
  border: 2px solid #1C1C1C;
  display: table;
  background-color: #2d2d2d;
}

.ticket-writing {
  transform: rotate(-90deg);
  display: table-cell;
  vertical-align: middle;
}

.stamp {
  border-radius: 100%;
  width: calc(6rem - 15px);
  height: calc(6rem - 15px);
}

.bingo-1 {
  animation: 10s bingo-1 infinite;
}
.bingo-2{
  animation: 10s bingo-2 infinite;
}
.bingo-3{
  animation: 10s bingo-3 infinite;
}
.bingo-4{
  animation: 10s bingo-4 infinite;
}
.bingo-5{
  animation: 10s bingo-5 infinite;
}
.bingo-6{
  animation: 10s bingo-6 infinite;
}
.bingo-7{
  animation: 10s bingo-7 infinite;
}

@keyframes bingo-1 {
  5% {background-color: #2d2d2d00}
  10% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-2 {
  10% {background-color: #2d2d2d00}
  15% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-3 {
  5% {background-color: #2d2d2d00}
  15% {background-color: #2d2d2d00}
  20% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-4 {
  5% {background-color: #2d2d2d00}
  20% {background-color: #2d2d2d00}
  25% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-5 {
  5% {background-color: #2d2d2d00}
  25% {background-color: #2d2d2d00}
  30% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-6 {
  5% {background-color: #2d2d2d00}
  30% {background-color: #2d2d2d00}
  35% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
@keyframes bingo-7 {
  5% {background-color: #2d2d2d00}
  10% {background-color: #2d2d2d00}
  15% {background-color: #2d2d2d00}
  20% {background-color: #2d2d2d00}
  25% {background-color: #2d2d2d00}
  30% {background-color: #2d2d2d00}
  35% {background-color: #2d2d2d00}
  40% {background-color: #b27dc16b}
  65% {background-color: #b27dc16b}
  70% {background-color: #2d2d2d00}
  75% {background-color: #b27dc16b}
  80% {background-color: #2d2d2d00}
  85% {background-color: #b27dc16b}
  90% {background-color: #2d2d2d00}
  95% {background-color: #b27dc16b}
  100% {background-color: #2d2d2d00}
}
/*
 * BINGO
 * 
 * 
 * 
 * 
 * 
 * 
 *   AV
 */
#av-content {
  min-width: 40vw;
  padding: 40px;
  text-align: left;
  z-index: 10;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  height: 70vh;
  top: 20%;
  border-radius: 65px;
  position: fixed;
}

#av-content-pictures{
  background-image: url(../../assets/Images-final/accents/av-content-picutres.jpg);
  background-size: contain;
  background-position-y: repeat;
  background-color: #f5f5f5;
  height: 680vh;
  width: 37vw;
  position: absolute;
  left: 1.35vw;
}

#av-content-mobile {
  min-width: 90vw;
  padding: 40px;
  text-align: left;
  z-index: 10;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  height: 70vh;
  top: 355vh;
  border-radius: 65px;
  position: fixed;
}

#av-content-pictures-mobile-wrap {
  background-image: url(../../assets/Images-final/gif/noise-seamless-4bit-128x.gif);
  width: 1085vw;
  height: 60vh;
  position: absolute;
  left: -10vw;
  background-repeat: repeat;
}

#av-content-pictures-mobile {
  background-image: url(../../assets/Images-final/accents/av-content-mobile.png);
  background-size: contain;
  background-position-y: repeat;
  width: 1085vw;
  height: 60vh;
  position: absolute;
  left: 1.35vw;
  display: none;
}
/*
 *    AV
 * 
 * 
 * 
 * 
 *
 *  INSTALLATION
 */
 
.install-holder {
  width: 1200px;
  height: 980px;
  /*background-image: url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
  background-color: #030303;
  border: 3px solid #b27dc1;*/
  overflow: hidden;
}

.install-cover {
  background-image: url(../../assets/Images-final/accents/Installation/cover.png);
  width: 1200px;
  height: 980px;
  background-size: contain;
  /*filter: brightness(0.9) invert(0.2) saturate(0.8);*/
  opacity: 0.4;
  background-repeat: no-repeat;
}


/* 
 *  INSTALLATION
 *
 * 
 * 
 * 
 * 
 *  CLIENTS
 */
#clients-container{
  position: fixed;
  left: 500%;
  width: 100%;
  top: 0;
  height: 100vh;
  -o-object-fit: contain;
      object-fit: contain;
  padding-left: 7%;
  padding-right: 13%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#clients-top {
  background-image: url(../../assets/Images-final/accents/clients-top-x2000.png);
  background-size: cover;
  z-index: 11;
  width: 80vw;
  height: 8.96vw;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}
.clients-centered {
  height: 100vh;
  width: 100vw;
  position: absolute;
  display: flex;
  max-width: 80vw;
  align-items: center;
}
#clients-content{
  background-color: #252525;
  opacity: 0;
  padding: 5vh 10vw;
  flex: 1;
  overflow: hidden;
}
#clients-bot {
  background-image: url(../../assets/Images-final/accents/clients-bot-x2000.png);
  background-size: cover;
  z-index: 11;
  width: 80vw;
  height: 8.96vw;
  background-repeat: no-repeat;
  filter: brightness(0.5);
}
#clients-top-mobile{
  display: none;
  background-image: url(../../assets/Images-final/accents/clients-top-x1000.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
  width: 100vw;
  height: 11.2vw;
}
#clients-content-mobile{
  background-color: #1d1d1df5;
  display: none;
  height: 70vh;
  position: fixed;
  width: 86vw;
  color: ivory;
  font-size: 0.7em;
  text-align: justify;
  padding: 15px;
  overflow: hidden;
}
#clients-bot-mobile{
  display: none;
  background-image: url(../../assets/Images-final/accents/clients-bot-x1000.png);
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 11;
  padding-top: 9.33%;
  width: 100vw;
  height: 11.2vw;
}
.clients-grid {
  display: flex;
}
.clients-grid .children {
  flex: 1;
}
.clients-grid .child {
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  width: 15vw;
  height: 45vh;
  margin-top: -5vh;
  border: 1px solid #232323;
}
.clients-grid .child.aspers  {
  background-image: url(../../assets/Images-final/client-logo/Aspers.png);
  opacity: 1;
  animation: clients 18s 0s ease-out infinite;
  margin-top: 0vh;
}

.clients-grid .away-resorts {
  background-image: url(../../assets/Images-final/client-logo/Away-Resorts.png);
  opacity: 0;
  animation: clients 18s 0.1s ease-out infinite;
  margin-top: 0vh;
}
.clients-grid .bjs-bingo {
  background-image: url(../../assets/Images-final/client-logo/BJs-Bingo.png);
  opacity: 0;
  animation: clients 18s 0.2s ease-out infinite;
  margin-top: 0vh;
}
.clients-grid .child.buzz-bingo {
  background-image: url(../../assets/Images-final/client-logo/Buzz-Bingo.png);
  opacity: 0;
  animation: clients 18s 0.3s ease-out infinite;
  margin-top: 0vh;
}
.clients-grid .carlton-bingo {
  background-image: url(../../assets/Images-final/client-logo/Carlton-Bingo.png);
  opacity: 0;
  animation: clients 18s 3s ease-out infinite;
}
.clients-grid .club-2000 {
  background-image: url(../../assets/Images-final/client-logo/Club-2000.png);
  opacity: 0;
  animation: clients 18s 3.1s ease-out infinite;
}
.clients-grid .club-3000 {
  background-image: url(../../assets/Images-final/client-logo/Club-3000-Bingo.png);
  opacity: 0;
  animation: clients 18s 3.2s ease-out infinite;
}
.clients-grid .child.dr-martens {
  background-image: url(../../assets/Images-final/client-logo/dr-martens.png);
  opacity: 0;
  animation: clients 18s 3.3s ease-out infinite;
}
.clients-grid .grosvenor {
  background-image: url(../../assets/Images-final/client-logo/Grosvenor.png);
  opacity: 0;
  animation: clients 18s 6s ease-out infinite;
}
.clients-grid .hardrock {
  background-image: url(../../assets/Images-final/client-logo/Hardrock.png);
  opacity: 0;
  animation: clients 18s 6.1s ease-out infinite;
}
.clients-grid .hippodrome {
  background-image: url(../../assets/Images-final/client-logo/Hippodrome.png);
  opacity: 0;
  animation: clients 18s 6.2s ease-out infinite;
}
.clients-grid .majestic-bingo {
  background-image: url(../../assets/Images-final/client-logo/Majestic-Bingo.png);
  opacity: 0;
  animation: clients 18s 6.3s ease-out infinite;
}
.clients-grid .marstons {
  background-image: url(../../assets/Images-final/client-logo/Marstons.png);
  opacity: 0;
  animation: clients 18s 9s ease-out infinite;
}
.clients-grid .mecca {
  background-image: url(../../assets/Images-final/client-logo/Mecca.png);
  opacity: 0;
  animation: clients 18s 9.1s ease-out infinite;
}
.clients-grid .merkur {
  background-image: url(../../assets/Images-final/client-logo/Merkur.png);
  opacity: 0;
  animation: clients 18s 9.2s ease-out infinite;
}
.clients-grid .mr-mulligans {
  background-image: url(../../assets/Images-final/client-logo/Mr-mulligans.png);
  opacity: 0;
  animation: clients 18s 9.3s ease-out infinite;
}
.clients-grid .parkdean-resorts {
  background-image: url(../../assets/Images-final/client-logo/Parkdean-Resorts.png);
  opacity: 0;
  animation: clients 18s 12s ease-out infinite;
}
.clients-grid .park-holidays {
  background-image: url(../../assets/Images-final/client-logo/Park-Holidays.png);
  opacity: 0;
  animation: clients 18s 12.1s ease-out infinite;
}
.clients-grid .pier-nine {
  background-image: url(../../assets/Images-final/client-logo/Pier-Nine.png);
  opacity: 0;
  animation: clients 18s 12.2s ease-out infinite;
}
.clients-grid .playland {
  background-image: url(../../assets/Images-final/client-logo/Playland.png);
  opacity: 0;
  animation: clients 18s 12.3s ease-out infinite;
}
.clients-grid .rileys {
  background-image: url(../../assets/Images-final/client-logo/Rileys.png);
  opacity: 0;
  animation: clients 18s 15s ease-out infinite;
}
.clients-grid .shipley-estates {
  background-image: url(../../assets/Images-final/client-logo/Shipley-Estates.png);
  opacity: 0;
  animation: clients 18s 15.1s ease-out infinite;
}
.clients-grid .shipleys {
  background-image: url(../../assets/Images-final/client-logo/Shipleys.png);
  opacity: 0;
  animation: clients 18s 15.2s ease-out infinite;
}
.clients-grid .victoria-gate {
  background-image: url(../../assets/Images-final/client-logo/Victoria-Gate.png);
  opacity: 0;
  animation: clients 18s 15.3s ease-out infinite;
}
@keyframes clients {
  0% {opacity: 0; height: 5vh}
  1.1% {opacity:1; height: 45vh}
  15.6% {opacity: 1; height: 45vh}
  16.7% {opacity: 0; height: 5vh}
  100% {opacity: 0; height: 5vh}
}
/*
 *  CLIENTS
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * TESTIMONIALS
 */
#testimonials {
  position: fixed;
  width: 95vw;
  height: 1500px;
  border-width: medium;
  border-style: solid;
  border-color: rgb(178,125,193);
  left: 615%;
  overflow: hidden;
  padding-left: 0px;
  padding-right: 0px;
}
#testimonials-mobile {
  display: none;
}
#etp {
  background-image: url(../../assets/Images-final/accents/etp.png);
  background-size: contain;
  background-repeat:no-repeat;
  width: 45vw;
  height: 80%;
  position: fixed;
  right:-598%;
  z-index: 22;
}
@media (min-width: 1366px) and (max-width: 1695px) {
  #etp {
    width: 30vw;
  }
}
td {
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
}

.adventure-leisure {
  background-image: url(../../assets/Images-final/client-logo-ready/Adventure-Leisure.png);
}
.marstons {
  background-image: url(../../assets/Images-final/client-logo-ready/Marstons.png);
}
.majestic-bingo {
  background-image: url(../../assets/Images-final/client-logo/Majestic-Bingo.png);
}
.hippodrome {
  background-image: url(../../assets/Images-final/client-logo-ready/Hippodrome.png);
}
.park-holidays {
  background-image: url(../../assets/Images-final/client-logo-ready/Park-Holidays.png);
}


tr {
  color:ivory;
  border-top: 2em solid transparent;
  text-align: left;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.client-logo-mobile {
  width: 180px;
  height: 15vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
.testimonial-mobile {
    width: 400;
    height: 55vh;
    color: ivory;
    padding: 15px;
    text-align: left;
}
.testimonial-mobile-parent {
  animation: swap 0.2s forwards;
  margin-top: -115px;
  text-align: -webkit-center;
}
#testimonial-mobile-2{
  display: none;
}
#testimonial-mobile-3{
  display: none;
}
#testimonial-mobile-4{
  display: none;
}
#testimonial-mobile-5{
  display: none;
}
.break {
  height: 4px;
  width: 400px;
  display: flex;
  padding-right: 15px;
  padding-left: 15px;
}
.br {
  width: calc(400px / 5);
  height: 4px;
}
.br-on {
  background-color: #B27DC1;
  border-radius: 5px;
}
#testimonial-button {
  width: 90;
  height: 50;
  border-radius: 90px;
  font-weight: bold;
  border: none;
  background: #b27dc1;
  position: fixed;
  left: 50%;
  transform: translatex(-50%);
  display: none;
}
#testimonial-button:active {
  background: rgb(241 85 157 / 0%);
  color: #B27dc1;
  border: 3px solid;
}
@keyframes swap {
  0% {opacity: 0}
  100% {opacity: 1}
}



/*
 * TESTIMONIALS
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 */
#warning {
  position: fixed;
  top: 0;
  left: 0;
  overflow:visible;
  z-index: 5000;
  display: none;
}
#warning .cover{
  width: 100vw;
  height: 100vh;
  background-color: #191919;
  color: ivory;
  /*text-align: center;
  vertical-align: middle;
  line-height: 100vh;
  font-size: 2em;*/
  display: flex;
  justify-content: center;
  align-items: center;

}
#warning .cover p{
  flex: 0 0 500px;
  font-size: 2em;
  text-align: center;
}

#mobile-indicator {
  display: none;
}
 /* 
 * DIFFERENT SCREEN SIZES:
 * 991px, 1441px 
 */  
/*@media (max-aspect-ratio: 9/6) and (min-height: 1260px) {
  #warning {
    display: unset;
  }
}*/

@media (max-width: 1460px){
  #gallery {
    transform: translateY(-50%) scale(0.8);
    left: 122%;
  }
  #bingo-header {
    left: 196.4vw;
  }
  #av-header {
    left: 289vw;
  }
}


@media (max-width: 1366px)  { 
  #pictures-mobile,
  #menu .mobile,
  #logo-mobile,
  #sub-logo-mobile,
  .willowbg-mobile,
  #willow-leaves,
  .sliding-box-mobile,
  #testimonials-mobile,
  #pictures,
  #testimonials-content,
  .mini-logo-mobile,
  #gallery-header-mobile,
  #gallery-mobile,
  #bingo-header-mobile,
  #av-header-mobile,
  #av-content-pictures-mobile,
  #clients-top-mobile,
  #clients-content-mobile,
  #clients-bot-mobile,
  #testimonial-button {
    display: unset;
  }
  #gallery,
  #av-content,
  #bingo-box,
  #menu-notice,
  #gallery-header,
  #bingo-header,
  #av-header,
  #logo ,
  .willowbg,
  #sub-logo,
  .mini-logo,
  .sliding-box,
  #gallery-2,
  #testimonials-desktop,
  #bottom-layer,
  #clients-top,
  #clients-content,
  #clients-bot,
  #gallery-header,
  #bingo-header,
  #av-header,
  #installation-header{
    display: none;
  }
  #mobile-indicator {
    display: block;
  }
  .welcome.mobile{
    display: block;
  }
  .welcome.desktop{
    display: none;
  }
  .welcome-dot {
    background-image:url(../../assets/Images-final/accents/welcome/dot-mobile.png);
  }
  .welcome-hi {
    background-image:url(../../assets/Images-final/accents/welcome/hi-mobile.png);
  }
  .welcome-welcome {
    background-image: url(../../assets/Images-final/accents/welcome/welcome-mobile.png);
  }
  .welcome-to {
    background-image: url(../../assets/Images-final/accents/welcome/to-mobile.png);
  }
  .welcome-willow {
    background-image: url(../../assets/Images-final/accents/welcome/willow-mobile.png);
  }
  .welcome-etp {
    background-image: url(../../assets/Images-final/accents/welcome/etp-mobile.png);
  }
  .container {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: auto;
    transform: none !important;
  }
  #menu-button {
    bottom: unset;
    left: unset;
    right: 0;
    top: 0;
    width: 60px;
    height: 60px;
  }
  .con-tooltip:hover .tooltip{
    visibility: hidden;
  }
  #menu .icon:hover {
    -webkit-filter: unset;
    filter: unset;
  }
  .submenu{
    width: unset;
    max-width: 380px;
  }
  .iso-wrap{
    margin-top: 100;
  }
  #iso-9001{
    width: 100px;
  }
  #iso-27001{
    width: 100px;
  }
  #svg{
    width: 60px;
    height: 60px;
  }
  tr {
    font-size: 0.7em;
  }
  #menu .container .section .content-menu {
    max-width: 400px;
  }
  #menu .container .section .content-menu p {
    font-size: 0.9em;
    white-space: nowrap;
    display: inline-block;
    height: 70px;
  }
  .container section .content p {
    font-size: 0.8em;
  }
  #menu .icon {
    margin: unset;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
  }
  #event-gif-wrap{
    background-image: url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
  }
  #event-gif {
    background-position-y: center;
    background-repeat-x: repeat;
    background-image: url(../../assets/Images-final/gif/Event-UI-pink-touch.gif);
    background-color: unset;
    height: 313px;
  }
  .container section .content.event {
    min-width: 400px;
  }
  .pic-position {
    top: 65%;
    left: 600px;
  }
  .pic-position:nth-child(2) {
    background-image: url(../../assets/Images-final/accents/gallery/gallery-event-mobile.jpg);
  }
  .pic-position:nth-child(3) {
    background-image: url(../../assets/Images-final/accents/gallery/gallery-bigd-mobile.jpg);
  }
  .pic-position:nth-child(4) {
    background-image: url(../../assets/Images-final/accents/gallery/gallery-wm-mobile.jpg);
  }
  .pic-position:nth-child(5) {
    background-image: url(../../assets/Images-final/accents/gallery/gallery-av-mobile.jpg);
  }
  .pic-position:nth-child(6) {
    background-image: url(../../assets/Images-final/accents/gallery/gallery-command-mobile.jpg);
  }
  .gallery-pop{
    width: 600;
    height: 600;
    font-size: 0.75em;
  }
  .gallery-pop:nth-of-type(7){
    width: 600;
    height: 600;
    top: 120vh;
    transform: unset;
    left: unset;
  }
  .gallery-pop:nth-of-type(8){
    top: 150vh;
    transform: unset;
    left: unset;
    height: 400;
  }
  .gallery-pop:nth-of-type(9){
    top: 150vh;
    transform: unset;
    left: unset;
    height: 400;
  }
  .gallery-pop:nth-of-type(10){
    top: 150vh;
    transform: unset;
    left: unset;
    height: 400;
  }
  .gallery-pop:nth-of-type(11){
    top: 150vh;
    transform: unset;
    left: unset;
    height: 400;
  }
  .gallery-pop .file {
    width: 48px;
    height: 40px;
    position: absolute;
  }
  @keyframes slide-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  .bingo-box-mobile {
    display: flex;
    max-width: calc(22rem + 8px);
    padding: 0rem;
    margin-right: 35px;
  }
  .ticket-writing {
    font-size: 0.7em;
  }
  .stamp {
    width: calc(2.5rem - 5px);
    height: calc(2.5rem - 5px);
  }
  #bingo-text {
    padding: unset;
    padding-right: 15px;
    max-width: 400px;
    font-size: 0.78em;
  }
  .bingo-number {
    font-size: 1.5rem;
    width: 2.5rem;
    height: 2.5rem;
    padding: 1px;
    background-image: unset;
  }
  .bingo-column:nth-child(10){
    width: 8rem;
    border: 2px solid #1C1C1C;
    display: unset;
    background-color: #2d2d2d;
    background-image: url(../../assets/Images-final/accents/bingo-bigd.png);
    min-width: 30px;
  }
  .container section:nth-child(2) {
    height: 80vh;
  }
  .container section:nth-child(8),
  .container section:nth-child(9) {
    height: 50vh;
  }
  .install-holder {
    transform: scale(0.67);
  }
  .container section .content.install p {
    padding: 0px 198px;
  }
  #clients-container{
    left: 0;
    top: 535vh;
    padding: unset;
  }
  #clients-content-mobile {
    height: 50vh;
    left: 50%;
    transform: translatex(-50%);
    background-color: unset;
    margin: 0px 2px;
  }
  .clients-grid .child {
    width: unset;
    margin-top: -45vh;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #ffffffe3;
  }
  .clients-grid .aspers {
    margin-top: 0vh;
  }
  .clients-grid .adventure-leisure {
    margin-top: 0vh;
  }
  .clients-grid .away-resorts {
    margin-top: 0vh;
  }
  .clients-grid .bjs-bingo {
    margin-top: 0vh;
  }
  .clients-grid .pier-nine {
    background-image: url(../../assets/Images-final/client-logo/Pier-Nine-mobi.png);

  }
  @keyframes clients {
    0% {opacity: 0; }
    1.1% {opacity:1; }
    15.6% {opacity: 1; }
    16.7% {opacity: 0; }
    100% {opacity: 0; }
  }
}
  @media (max-width: 800px) {
    .welcome.mobile{
      font-size: 1em;
    }
    #gallery-mobile {
      transform: translatex(-50%) scale(0.5);
      top: 80vh;
    }
    .gallery-pop {
      width: 380;
      height: 400;
      font-size: 0.6em;
    }
    .gallery-pop:nth-of-type(7){
      width: 380;
      height: 650;
    }
    .gallery-pop:nth-of-type(8){
      top: 130vh;
    }
    .gallery-pop:nth-of-type(9){
      top: 130vh;
    }
    .gallery-pop:nth-of-type(10){
      top: 130vh;
    }
    .gallery-pop:nth-of-type(11){
      top: 130vh;
    }
    .install-holder {
      transform: scale(0.33);
    }
    .container section .content.install p {
      padding: 0px 403px;
    }
  }

  /*@media (min-width: 710px) and (max-width: 1366px){
    #mobile-navigator {
      display: block;
      position: fixed;
      width: 100px;
      height: 200px;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      z-index: 18;
    }

    #scroll-up {
      background-image: url(../../assets/Images-final/accents/arrow_up.png);
      margin: 20px;
      opacity: 0.3;
    }
    
    #scroll-down {
      background-image: url(../../assets/Images-final/accents/arrow_down.png);
      margin: 0px 20px;
      margin-top: 40px;
      opacity: 0.6;
    }
    #mobile-navigator .navigator{
      background-size: cover;
      background-repeat: no-repeat;
      width: 60px;
      height: 60px;
    }
    #mobile-navigator .navigator:active{
      background-image: unset;
      background-color: #000000;
      border-radius: 100%;
      border: 3px solid #b27dc1;
    }
  }*/

/*
 * DIFFERENT SCREEN SIZES:
 * 991px, 1441px 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 * 
 *  TESTING / WORK IN PROGRESS
 */  









/*
 *  TESTING / WORK IN PROGRESS
 * 
 * 
 * 
 * 
 */  



