#pictures-mobile,
#menu .mobile,
#logo-mobile,
#sub-logo-mobile,
.willowbg-mobile,
#willow-leaves,
.sliding-box-mobile,
#testimonials-mobile,
#pictures,
#testimonials-content,
.mini-logo-mobile,
#gallery-header-mobile,
#gallery-mobile,
#bingo-header-mobile,
#av-header-mobile,
#av-content-pictures-mobile,
#clients-top-mobile,
#clients-content-mobile,
#clients-bot-mobile,
#testimonial-button {
  display: unset;
}
#gallery,
#av-content,
#bingo-box,
#menu-notice,
#gallery-header,
#bingo-header,
#av-header,
#logo ,
.willowbg,
#sub-logo,
.mini-logo,
.sliding-box,
#gallery-2,
#testimonials-desktop,
#bottom-layer,
#clients-top,
#clients-content,
#clients-bot,
#gallery-header,
#bingo-header,
#av-header,
#installation-header{
  display: none;
}
.welcome-dot {
  background-image:url(../../assets/Images-final/accents/welcome/dot-mobile.png);
}
.welcome-hi {
  background-image:url(../../assets/Images-final/accents/welcome/hi-mobile.png);
}
.welcome-welcome {
  background-image: url(../../assets/Images-final/accents/welcome/welcome-mobile.png);
}
.welcome-to {
  background-image: url(../../assets/Images-final/accents/welcome/to-mobile.png);
}
.welcome-willow {
  background-image: url(../../assets/Images-final/accents/welcome/willow-mobile.png);
}
.welcome-etp {
  background-image: url(../../assets/Images-final/accents/welcome/etp-mobile.png);
}
.container {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: auto;
  transform: none !important;
}
#menu-button {
  bottom: unset;
  left: unset;
  right: 0;
  top: 0;
  width: 60px;
  height: 60px;
}
.con-tooltip:hover .tooltip{
  visibility: hidden;
}
#menu .icon:hover {
  -webkit-filter: unset;
  filter: unset;
}
#cert-holder{
  width: unset;
  max-width: 380px;
}
.iso-wrap{
  margin-top: 100;
}
#iso-9001{
  width: 100px;
}
#iso-27001{
  width: 100px;
}
#svg{
  width: 60px;
  height: 60px;
}
tr {
  font-size: 0.7em;
}
#menu .container .section .content-menu {
  max-width: 400px;
}
#menu .container .section .content-menu p {
  font-size: 0.9em;
  white-space: nowrap;
  display: inline-block;
  height: 70px;
}
.container section .content p {
  font-size: 0.8em;
}
#menu .icon {
  margin: unset;
  margin-bottom: 20px;
  width: 100px;
  height: 100px;
}
#event-gif-wrap{
  background-image: url(../../assets/Images-final/gif/noise-seamless-darker-4bit-128x.gif);
}
#event-gif {
  background-position-y: center;
  background-repeat-x: repeat;
  background-image: url(../../assets/Images-final/gif/Event-UI-pink-touch.gif);
  background-color: unset;
}
.container section .content.event {
  min-width: 400px;
}
.pic-position {
  top: 65%;
  left: 600px;
}
.pic-position:nth-child(2) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-event-mobile.jpg);
}
.pic-position:nth-child(3) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-bigd-mobile.jpg);
}
.pic-position:nth-child(4) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-wm-mobile.jpg);
}
.pic-position:nth-child(5) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-av-mobile.jpg);
}
.pic-position:nth-child(6) {
  background-image: url(../../assets/Images-final/accents/gallery/gallery-command-mobile.jpg);
}
.gallery-pop{
  width: 600;
  height: 600;
  font-size: 0.75em;
}
.gallery-pop:nth-of-type(7){
  width: 600;
  height: 600;
  top: 120vh;
  transform: unset;
  left: unset;
}
.gallery-pop:nth-of-type(8){
  top: 120vh;
  transform: unset;
  left: unset;
}
.gallery-pop:nth-of-type(9){
  top: 120vh;
  transform: unset;
  left: unset;
  height: 400;
}
.gallery-pop:nth-of-type(10){
  top: 120vh;
  transform: unset;
  left: unset;
  height: 400;
}
.gallery-pop:nth-of-type(11){
  top: 120vh;
  transform: unset;
  left: unset;
  height: 400;
    }
.gallery-pop .file {
  width: 48px;
  height: 40px;
  position: absolute;
}
@-webkit-keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes slide-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.bingo-box-mobile {
  display: flex;
  max-width: calc(22rem + 8px);
  padding: 0rem;
  margin-right: 35px;
}
.ticket-writing {
  font-size: 0.7em;
}
.stamp {
  width: calc(2.5rem - 5px);
  height: calc(2.5rem - 5px);
}
#bingo-text {
  padding: 15px;
  max-width: 400px;
  font-size: 0.8em;
}
.bingo-number {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1px;
  background-image: unset;
}
.container section:nth-child(2) {
  height: 80vh;
}
.container section:nth-child(8),
.container section:nth-child(9) {
  height: 50vh;
}
.install-holder {
  transform: scale(0.67);
}
.container section .content.install p {
  padding: 0px 198px;
}
#clients-container{
  left: 0;
  top: 535vh;
  padding: unset;
}
#clients-content-mobile {
  height: 50vh;
  left: 50%;
  transform: translatex(-50%);
  background-color: unset;
  margin: 0px 2px;
}
.clients-grid .child {
  width: unset;
  margin-top: -45vh;
  margin-left: 2px;
  margin-right: 2px;
  background-color: #ffffffe3;
}
.clients-grid .aspers {
  margin-top: 0vh;
}
.clients-grid .adventure-leisure {
  margin-top: 0vh;
}
.clients-grid .away-resorts {
  margin-top: 0vh;
}
.clients-grid .bjs-bingo {
  margin-top: 0vh;
}
@-webkit-keyframes clients {
  0% {opacity: 0; }
  1.1% {opacity:1; }
  15.6% {opacity: 1; }
  16.7% {opacity: 0; }
  100% {opacity: 0; }
}
@keyframes clients {
  0% {opacity: 0; }
  1.1% {opacity:1; }
  15.6% {opacity: 1; }
  16.7% {opacity: 0; }
  100% {opacity: 0; }
}

@media (pointer:none) and (max-width: 800px), (pointer:coarse) and (max-width: 800px)  {
    #gallery-mobile {
    transform: translatex(-50%) scale(0.5);
    top: 80vh;
    }
    .gallery-pop {
    width: 380;
    height: 400;
    font-size: 0.6em;
    }
    .gallery-pop:nth-of-type(7){
    width: 380;
    height: 650;
    }
    .install-holder {
    transform: scale(0.33);
    }
    .container section .content.install p {
    padding: 0px 403px;
    }
}
@media (max-aspect-ratio: 13/9), (max-width: 1360px)  {
    #warning {
      display: none;
    }
  }