*::-webkit-scrollbar {
	display:none;
}

html {
    overflow: hidden;
    height: 100%;
}

body{
    height: 100%;
    overflow: auto;
	margin: 0;
	padding: 0;
	background: #7e3b90;
	color: #fff;
	font-family: Verdana;
	font-size: 12px;
	z-index: 0;
}

.bg {
	height: 100vh;
	width: 100vw;
	background-image: url("../images/login.jpg");
	background-size: cover;
	background-position-x: -840px;
	filter: blur(34px);
}

.bg2 {
	top: 0px;
	left: 0px;
	opacity: 0.3;
	position: fixed;
	height: 100vh;
	width: 100vw;
	background-image: url("../images/pattern.png");
	background-size: 100%;
	background-repeat: repeat-y;
	background-position-y: center ;
	animation: rotate 120s infinite linear;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg) scale(1.9);
	}
	25% {
		transform: rotate(90deg) scale(2.2);
	}
	50% {
		transform: rotate(180deg) scale(1.9);
	}
	75% {
		transform: rotate(270deg) scale(2.2);
	}
	100% {
		transform: rotate(360deg) scale(1.9);
	}
}


#logo {
	width: 550px;
	height: 412.5px;
	position: fixed;
	top: 15%;
	left: 50%;
	transform: translateX(-50%);
	background-image: url("../images/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.grad{
	position: absolute;
	top: -0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	width: auto;
	height: auto;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
	z-index: 1;
	opacity: 0.7;
}

.header{
	position: absolute;
	top: calc(75% - 125px);
	left: 50%;
	transform: translateX(-50%) translateY(-25%);
	height: 50px;
	z-index: 2;
	width: 100%;
	text-align: center;
}

.header div{
	float: left;
	color: #ff8000;
	font-size: 2.5em;
	width: 100%;
}

.admin {
	float:right;
	margin: 5px;
}

.login{
	position: absolute;
	top: 75%;
	left: 50%;
	transform: translateX(-50%) translateY(-25%);
	height: 350px;
	padding: 10px;
	z-index: 2;
	text-align: center;
}

.login input[type=text]{
	width: 550px;
	height: 85px;
	background: transparent;
	border: 3px solid rgba(255,255,255,0.6);
	border-radius: 2px;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	padding: 4px;
	font-size: 4.5em;
	text-align: center;  
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
	text-transform: uppercase;
}


.login input[type=submit]{
	position: relative;
	margin-top: 20px;
	width: 560px;
	height: 85px;
	background: rgba(255, 255, 255, 0);
	border: 3px solid rgba(255,255,255,0.6);
	cursor: pointer;
	border-radius: 15px;
	color: #a18d6c;
	font-size: 4.5em;
	font-weight: 400;
	padding: 6px;
	margin-top: 50px;
}

.login input[type=submit]:hover{
	opacity: 0.8;
}

.login input[type=submit]:active{
	opacity: 0.6;
}

.login input[type=text]:focus{
	outline: none;
	border: 3px solid rgba(255,255,255,0.9);
	border-top-style: hidden;
	border-right-style: hidden;
	border-left-style: hidden;
	border-bottom-style: groove;
}

.login input[type=password]:focus{
	outline: none;
	border: 1px solid rgba(255,255,255,0.9);
}

.login input[type=button]:focus{
	outline: none;
}

::-webkit-input-placeholder{
   color: rgba(255,255,255,0.6);
}

::-moz-input-placeholder{
   color: rgba(255,255,255,0.6);
}
