/* 
 * Styling for Willow Sound Vision - Client Portal
 * (c) 2016 Willow SoundVision
 *
 * Revisions 
 * ====================================
 * None
 */



/*	=================================================================================
	GENERAL STYLINGS
	================================================================================= */
*::-webkit-scrollbar {
	display:none;
}

html {
    overflow: hidden;
    height: 100%;
}

body {
    height: 100%;
    overflow: auto;
	margin: 0;
	padding: 0;
	background: #000000;
	color: #fff;
	font-family: Verdana;
	font-size: 12px;
	z-index: 0;
}

.link {
	cursor: pointer;
}

/*	=================================================================================
	MISC GLOBAL STYLINGS
	================================================================================= */

h1,h2,h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

h1 {
	font-size: 3em;
}

h2 {
	font-size: 3.0em;
}

h3 {
	font-size: 2.5em;
}
p{
	font-size: 1.5em;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

label {
    font-weight: bold;
}

.debug {
	float: left;
	background: #ff8080;
	z-index: 10000;
	opacity: 0.8;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	padding: 10px;
}

div.form {
	background: #ffffe6;
	padding: 15px;
	border: 1px dotted #BABABA;
}


/*	=================================================================================
	LINK STYLINGS
	================================================================================= */

a:link,a:visited {
	color: #3E50B4;
	text-decoration: none;
}
a:hover {
	color: #FF3F80;
	text-decoration: underline;
}



/*	=================================================================================
	FORM FIELD GLOBALS
	================================================================================= */

select, textarea, input[type="text"], input[type="password"] {
    padding: 4px 6px;
    margin-bottom: 3px;
	margin-top: 3px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
	border: 1px solid #cccccc;
	font-family: inherit;
}

input[type="text"], input[type="password"] {
	height: 30px;
}


.ajax_hasvalue {
	background: transparent;
}


/*	=================================================================================
	FUNCTIONAL
	================================================================================= */

.fullscreen {
	position: fixed !important;
    top: 12% !important;
    height: calc(100% - 12% - 79px) !important;
    width: 97% !important;
    margin-left: unset !important;
    margin-bottom: unset !important;
    background: #000000c9 !important;
    z-index: 5 !important;
}

#exit-fs {
	position: absolute;
    height: 150px;
    width: 150px;
    background: white;
    top: 0;
    right: 0px;
    z-index: 6;
}

/*	=================================================================================
	HEADER, FOOTER & MENU
	================================================================================= */

#header {
	position: fixed;
	overflow: hidden;
	width: 100%;
	height: 12%;
	color: #fff;
	background: #17164a;
	background: -moz-linear-gradient(top, #17164a 0%, #2c2b91 100%);
	background: -webkit-linear-gradient(top, #17164a 0%,#2c2b91 100%);
	background: linear-gradient(to bottom, #17164a 0%,#2c2b91 100%);
	border-bottom: solid 1px #000;
	top: 0;
	z-index: 100;
}

.expand {
	animation: expand 0.3s forwards ease-in-out;
}

.retract {
	animation: retract 0.3s forwards ease-in-out;
}

@keyframes expand {
	0% { height: 12vh; }
	100% { height: 100vh; }
}

@keyframes retract {
	0% { height: 100vh; }
	100% { height: 12vh; }
}

#header .header-top a:visited, #header .header-top a:link {
	color: rgb(179, 185, 243);
}

#header .header-left {
	max-width: 50%;
	float:left;
	z-index: 1;
}

#header .logo {
	max-width: 65%;
	max-height: 65%;
	position:absolute;
	top:15px;
	left:10px;
}

#header .header-middle {
	max-width: 50%;
	float:left;
	font-size: 2.5em;
	z-index: 1;
}

#header .header-right {
	max-width: 50%;
	text-align: right;
	font-size: 2em;
	position:absolute;
	top:5px;
	right:5px;
	padding: 10px;
	z-index: 1;
}

#header .name {
	font-size: 2em;
}

#header .code {
	font-size: 1.1em;
}



#header .header-navigation {
	background: #7e3b90;
	position:absolute;
	top: 0px;
	min-height: 25px;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #000;
	color: #000;
	text-align: right;
	overflow: hidden;
}

#header .nav-option {
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 2px;
}

#header .selected {
	font-weight: bold;
}

#content {
	padding: 15px;
    overflow-y: hidden;
    margin-top: 12vh;
    margin-bottom: 35px;
    z-index: 0;
    height: calc(100vh - 12vh - 70px);
    background: #0f0a19;
    background-image: url(../images/pattern.png);
    background-size: 800%;
    background-position-x: -1531px;
    background-position-y: -2576px;
}

#footer {
	position:fixed;
	background:#1d1d1d;
	height:45px;
	bottom:0px;
	left:0px;
	right: 0px;
	padding: 2px;
	z-index: 100;
	text-align: center;
	font-size:1.5em;
	line-height: 45px;
}

#footer .footer_left {
	position:fixed;
	left: 25px;
}

#footer .footer_right {
	position:fixed;
	right: 30px;
}

img.section_logo {
	width: 94px;
	float:left;
	margin-right: 10px;
	margin-top: 20px;
}

#header #close,
#header #open {
	display: none;
	top: 0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 12vh;
	z-index: 10;
}

#arrows-down,
#arrows-up {
	position: fixed;
    top: 10vh;
    width: 120px;
    height: 64px;
    left: 50%;
    transform: translatex(-50%);
	z-index:10;
}

#arrows-up {
	display: none;
	top: 8vh;
}

#arrows-down div,
#arrows-up div {
	opacity: 0.7;
	width: 100%;
	height: 100%;
	background-image: url("../images/arrow-down.png");
	background-repeat: no-repeat;
	background-position-x: center;
}

#arrows-up div {
	transform: scaleY(-1);
}

#arrows-down div:nth-child(2){
    position: absolute;
    margin-top: -64px;
	animation: notice-down 2s ease-out infinite;
}

#arrows-up div:nth-child(2) {
    position: absolute;
    margin-top: -64px;
	animation: notice-up 2s ease-out infinite !important;
}

@keyframes notice-down {
	0% {
		opacity: 1;
		margin-top: -64px;
	}
	60%, 100% {
		opacity: 0;
		margin-top: -36px;
	}
}

@keyframes notice-up {
	0% {
		opacity: 1;
		margin-top: -64px;
	}
	60%, 100% {
		opacity: 0;
		margin-top: -100px;
	}
}


.bg {
	position: absolute;
	/* top: -200px; */
	height: 100vh;
	width: 100vw;
	background-image: url("../images/login.jpg");
	background-size: cover;
	background-position-x: -840px;
	filter: blur(34px);
	transform: scale(1.2);
}

.bg2 {
	top: 200px;
	left: 0px;
	opacity: 0.3;
	position: absolute;
	height: 100vh;
	width: 100vw;
	background-image: url("../images/pattern.png");
	background-size: 100%;
	background-repeat: repeat-y;
	background-position-y: center ;
	animation: rotate 120s infinite linear;
}

@keyframes rotate {
	0% { transform: rotate(0deg) scale(2.1); }
	25% {transform: rotate(90deg) scale(2.5); }
	50% { transform: rotate(180deg) scale(2.1); }
	75% { transform: rotate(270deg) scale(2.5); }
	100% { transform: rotate(360deg) scale(2.1); }
}


#logo {
	width: 550px;
	height: 412.5px;
	position: absolute;
	top: calc(200px + 2%);
	left: 50%;
	transform: translateX(-50%);
	background-image: url("../images/logo.png");
	background-size: cover;
	background-repeat: no-repeat;
}



/*	=================================================================================
	FORM STYLINGS
	================================================================================= */


.form select, .form textarea, .form input[type="text"], .form input[type="password"] {
	width: 300px;
	display: inline-block;
}

.form_input {
	display: inline-block;
}

.form_header {
	font-weight: bold;
	font-size: 1.5em;
	padding-bottom: 6px;
	margin-bottom: 15px;
	border-bottom: 1px dotted #BABABA;
	margin-top: 20px;
}

.form_header:first-child {
    margin-top: 0px;
}

.form_row label {
	width: 150px;
	display: inline-block;
	vertical-align: top;
}

.form_checkbox:hover {
    background-color:rgba(0, 0, 0, 0.08);
    border-radius:30px;
}

.form_checkbox label {
	width: 430px;
	display: inline-block;
	vertical-align: top;
}

.form_section {
	margin-top: 15px;
}

.form_section {
	margin-top: 15px;
}

.form_tab {
	margin-left: 10px;
}

.form .ui-spinner {
	margin-top: 3px;
	margin-bottom: 3px;
	display: inline-block;
	background: #FFFFFF !important;
	color: black;
	width: 300px;
	padding: 0px;
}

.form .ui-spinner-input {
	border: 0px;
	height: 20px;
	padding: 0px;
	font-family: inherit !important;
}


/*	=================================================================================
	CHECKBOX STYLINGS
	================================================================================= */

input[type=checkbox].cb,
input[type=radio].cr {
	position:absolute;
	z-index:-1000;
	left:-1000px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	height:1px; width:1px;
	margin:-1px;
	padding:0;
	border:0;
}


input[type=checkbox].cb + label.cb-label,
input[type=radio].cr + label.cr-label {
	padding-left:35px;
	height:30px; 
	display:inline-block;
	line-height:30px;
	background-repeat:no-repeat;
	background-position: 0 0;
	vertical-align:middle;
	cursor:pointer;
	width: 35px;
	overflow: hidden;
}

input[type=checkbox].cb:checked + label.cb-label,
input[type=radio].cr:checked + label.cr-label {
	background-position: 0 -30px;
}
					
label.cb-label {
	background-image:url(../images/checkbox.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

label.cr-label {
	background-image:url(../images/radio.png);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


/*	=================================================================================
	MISC INPUT STYLINGS
	================================================================================= */

.minicolors-input {
	height: 28px !important;
	width: 200px;
}

.ui-spinner, .spinner-input {
	background: #FFFFFF !important;
	color: black;
}

.spinner-input {
	border: 0px !important;
}


/*	=================================================================================
	MENU STYLINGS
	================================================================================= */

div.menu {    
	position: absolute;
    top: calc(2% + 615px);
    font-size: 4.5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    /* background: #ffffff6b; */
}

div.menu a {
	height: 85px;
    /* width: 40vh; */
	width: 560px;
    margin-bottom: 35px;
    color: #dec6a8;
    background: #00000061;
    border-radius: 15px;
    border: 3px solid rgba(255,255,255,0.6);
    text-align: center;
}


/*	=================================================================================
	DIALOGUES
	================================================================================= */

.form_message {
	border: 1px solid #000;
	padding: 8px;
	margin-bottom: 25px;
	min-height: 80px;
}

.form_message .message_icon {
	height: 64px;
	width: 64px;
	display: inline-block;
	margin-right: 10px;
	vertical-align: top;
}

.form_message .message_panel {
	display: inline-block;
}

.form_message .message_header {
	font-weight: bold;
	margin-bottom: 5px;
}

.form_notice {
	background: #eee8f3;
}

.form_info {
	background: #e6ffcc;
}

.form_error {
	background: #ff8080;
}



/*	=================================================================================
	TABLE FORMATS
	================================================================================= */

table.data_table {
	width: 100%;
}

table.data_table .icon,
table.info_table .icon {
	width: 24px;
}

table.data_table,
table.info_table {
	margin: 20px 0 40px 0;
	border-collapse: collapse;
	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	table-layout:fixed;
}

table.data_table td,
table.info_table td {
	padding: 6px 12px;
	white-space: nowrap;
	overflow: hidden;
}

table.data_table thead tr,
table.info_table thead tr {
	background: #000000;
	color: #FFFFFF;
}

table.data_table 	.first,
table.info_table  	.first {
	font-size: 1.3em;
	line-height: 20px;
	font-weight: bold;
}

table.data_table 	.expand,
table.info_table  	.expand {
	width: 20px;
	height: 20px;
	margin-right: 7px;
}


table.data_table thead 	.first.red,
table.info_table 		.first.red		{	background: #ea6153;	}
table.data_table thead 	.first.blue,
table.info_table 		.first.blue 	{	background: #2980b9;	}
table.data_table thead 	.first.green,
table.info_table 		.first.green 	{	background: #27ae60;	}
table.data_table thead 	.first.orange,
table.info_table 		.first.orange 	{	background: #FFA500;	}

table.data_table thead .second,
table.info_table .second {
	background: #808080;
	font-size: 1.1em;
	line-height: 15px;
}

table.data_table thead 	.second.red,
table.info_table 		.second.red 	{	background: #c5948f;	}
table.data_table thead 	.second.blue,
table.info_table 		.second.blue 	{	background: #82a0b4;	}
table.data_table thead 	.second.green,
table.info_table 		.second.green 	{	background: #97aea1;	}
table.data_table thead 	.second.orange,
table.info_table 		.second.orange 	{	background: #ffc65e;	}

table.data_table tbody tr,
table.info_table tbody tr {
	background: #f6f6f6;
}

table.data_table tbody tr:nth-of-type(odd) {
	background: #e9e9e9;
}

table.data_table .highlight,
table.info_table .highlight {
	background: #ddffcc !important;
}

table.data_table .highlight-error,
table.info_table .highlight-error {
	background: #e9c2be !important;
}

table.data_table .highlight-warning,
table.info_table .highlight-warning {
	background: #ffe3b0 !important;
}


table.data_table tbody .row_disabled,
table.info_table tbody .row_disabled {	background: #ffdcdc !important }

table.data_table tbody tr:hover {
	background: #c0c0c0 !important;
}

table tbody td.section.blue,
table thead td.section.blue	{	background: #94b7cf !important; font-weight: bold; color: #404040;	}
table tbody td.section.red,
table thead td.section.red 	{	background: #e9c2be !important; font-weight: bold; color: #404040;	}
table tbody td.section.green,
table thead td.section.green {	background: #c3ddce !important; font-weight: bold; color: #404040;	}
table tbody td.section.orange,
table thead td.section.orange {	background: #fff2db !important; font-weight: bold; color: #404040;	}

/*	=================================================================================
	SEARCH BAR
	================================================================================= */

table.search .icon {
	vertical-align:middle;
	margin-right: 5px;
}


/*	=================================================================================
	STATUS FORMATS
	================================================================================= */

span.player-status-0 {	color: #31a557;		font-weight: bold;	}
span.player-status-1 { 	color: #c68a19;		font-weight: bold;	}
span.player-status-2 { 	color: #dd0404;		font-weight: bold;	}
span.player-status-3 {	color: #2412ea;		font-weight: bold;	}


/*	=================================================================================
	FILTER BAR
	================================================================================= */

table.filter_bar 		{	width: 100%	}
table.filter_bar td 	{ 	 }
table.filter_bar .icon 	{	width: 72px; height: 72px }


/*	=================================================================================
	MENUS
	================================================================================= */

.grid-container {
	display: grid;
}

.grid-container--fill {
	grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
}

.grid-container--fit {
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.grid-element {
	background-color: #EAEAEA;
	padding: 15px;
	color: #000000;
	border: 1px solid #fff;
	height: 200px;
	text-align: center;
}

.grid-element:hover {
	background-color: #DADADA;
}

.grid-element img {
	max-width: 70%;
	max-height: 70%;		
}

/*	=================================================================================
	PAGINATION
	================================================================================= */

div.pagination-container {
	width: 100%;
	font-size: 14px;
	margin:5px;
}

div.pagination-container .number {
	display: inline-block;
	margin-left: 5px;
	margin-right: 5px;
}

div.pagination-container .current {
	font-weight: bold;
}



/*	=================================================================================
	FULL SCREEN DIALOG
	================================================================================= */

	#full-screen-frame {
		background: rgba(90,90,90,1);
		position: fixed;
		top: 115px;
		left: 10px;
		right: 10px;
		bottom: 35px;
		z-index: 200;
		min-width: 800px;
		padding: 10px;
		color: white;
		border: 1px black solid;
	}
	#full-screen-frame .close-full-screen-frame {
		float: right;
	}
	#full-screen-frame h2 {
		margin-top: 5px;
	}
    #full-screen-frame-notification {
        position: absolute;
        right: 70px;
        top: 20px;
        width: 400px;
        height: 25px;
        text-align: right;
        font-size: 1.2em;
    }
	#full-screen-frame-content {
		position: absolute;
		top: 60px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		width: 100%;
		height: calc(100% - 60px);
	}


/*	=================================================================================
	CONTENT STYLING
	================================================================================= */

	#main {
		border: 3px solid #747474;
		width: calc(100% - 10px);
		border-radius: 35px;
		height: calc(100% - 22vh);
		overflow: hidden;
		background: #110626bf;
	}

/*	=================================================================================
	NAVIGATION
	================================================================================= */

/* Displays */

.display {
    display: -webkit-inline-box;
}

.display-none {
    display: none !important;
}

/* Scope */

body {
    background: linear-gradient(339deg, rgba(180,174,231,1) 0%, rgba(245,213,255,1) 100%);
}

input[type="file"],
input[type="submit"] {
    display: none;
}

.cursor {
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
}

.cursor:hover {
    filter: brightness(1.2) saturate(1.7);
}

[class*='-menu'] {
    box-shadow: #391472 0px 0px 4px 1px;
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

/* Colouring */

.multi-dark {
    background: #6624cf;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.multi-bright {
    background: #e4e4e4;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Animation Classes */

.load {
    animation: load 0.15s 0s ease-in forwards !important;
}

@keyframes load{
    from { top: -100%; }
    to { top: 0%; }
}

.unload {
    animation: unload 0.15s 0s ease-in forwards !important;
}

@keyframes unload{
    from { top: 0%; }
    to { top: 100%; }
}

/* Menu */


#menu {
    position: relative;
    height: 100%;
}


#menu-content {
    position: relative;
	padding-top: 55px;
    width: 100%;
    height: 75%;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;    
	display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#menu-content > div {
    position: relative;
    font-size: 4.5em;
    overflow: hidden;
    min-height: 85px;
    width: 560px;
    margin-bottom: 35px;
    color: #dec6a8;
    background: #00000061;
    border-radius: 15px;
    border: 3px solid rgba(255,255,255,0.6);
    display: flex;
	align-items: center;
}

.text {
	flex:unset !important;
	text-align: center !important;
	vertical-align: middle !important;
	line-height: 85px !important;   /* Same as #menu-content > div { height: X } */
}

/* Menu Buttons */


#menu-button {
    margin: 15px 0px 0px 15px;
    width: calc(100% - 30px);
    border-radius: 10px 10px 0px 0px;    
	overflow: hidden;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}
#menu-button-after {
    position: fixed;
    top: 35px;
    left: 160px;
    width: 125px;
    height: 125px;
}

#menu-button-after.main {
    top: 36px;
    left: 160px;
    width: 124px;
    height: 124px;
}

#menu-button-after.circle {
    clip-path: circle(50% at 50% 50%);
}

#menu-button-after.clip {
    clip-path: polygon(0% 50%, 0% 0%, 100% 0%, 100% 49%, 100% 100%, 51% 100%, 50% 50%);
}

#menu-button #back,
#menu-button #no-back {    
    position: relative;
    font-size: 4.5em;
    overflow: hidden;
    height: 85px;
    width: 560px;
    margin-bottom: 35px;
    color: #dec6a8;
    background: #00000061;
    border-radius: 15px;
    border: 3px solid rgba(255,255,255,0.6);
    text-align: center;
}

#menu-button #back-clip {
    margin-left: 12px;
    margin-top: 12px;
    width: calc(100% - 200px);
    height: calc(100% - 25px);
    clip-path: polygon(50% 10%, 40% 35%, 90% 30%, 90% 70%, 40% 65%, 50% 90%, 10% 50%);
}

#menu-button #no-back-clip {

    clip-path: circle(44% at 50% 50%);
    margin-left: 12px;
    margin-top: 12px;
    width: calc(100% - 200px);
    height: calc(100% - 25px);
}



.menu-arrow {
    clip-path: polygon(35% 20%, 60% 50%, 35% 80%, 0% 80%, 25% 50%, 0% 20%);
    height: 80px;
    width: 80px;
    margin-left: 20px;
}

#menu-content input {
	width: 100%;
    height: 60px;
    background: none;
    border: 0px;
    text-align: center;
    font-size: 1em;
	font-weight: 100;
    color: #dec6a8;
}
#menu-content input:focus-visible {
    outline: 0px;
}
#menu-content textarea {
	width: 100%;
    border: 0px;
    height: 102%;
    margin-top: -2px;
    font-size: 1em;
    line-height: 75px;
	background: none;
    color: #dec6a8;
}

/* Upload Menu */

#upload-selected {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#backPreview {
    height: 150%;
    width: auto;
    left: 50%;
    transform: translateX(-50%);
    filter: blur(10px);
    position: absolute;
}

#imagePreview {
    z-index: 2;
    width: 100%;
    height: auto;
}

/* Progress Bar */

#progressbar {
	max-height: 85px;
}

.ui-widget.ui-widget-content {
	width: 100%;
	border: unset;
}

#progresslabel {
	text-align: center;
	height: 85px !important;
}

.ui-progressbar .ui-progressbar-value {
	position: absolute;
	height: 85px !important;
	margin-top: -85px;
	margin-left: -1px;
	opacity: 0.5;
}

.ui-widget-header {
	background: #30273a url("images/ui-bg_highlight-soft_25_30273a_1x100_green.png") 50% 50% repeat-x
}

/* Shoutout Menu */
#shoutout-text {
	height: 255px !important;
}

/* QR Menu */

#qr-show {
    align-content: center;
    justify-content: center;
	align-items: unset !important;    
	justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#qr-show canvas {
	position: relative;
}

/* Map Menu */
#map-show {
    /* height: 280px !important; */
}

/* Request Menu */
#request-queue {
    overflow: hidden;
    height: 220px !important;
}

/* Result Menu */

#result-list {
	border:none;
}

#result-list .result {
    height: 116px;
    max-height: 115px;
    overflow: hidden;
    line-height: 58px;
    padding: 10px;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}

#result-list .result.selected {
	background: #34274fcf !important;
    font-style: italic;
}

#result-list .result:nth-child(2n) {
	background:#0a223c;
}

/* Policy */

#content .policy {
	height: 100%;
	overflow-x: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;  /* IE and Edge */
	scrollbar-width: none;  /* Firefox */
}

#content .policy::-webkit-scrollbar {
	display: none;
}


/* Special */

.shake {
    animation: shake 0.25s 0s forwards;
}

@keyframes shake{
    0%, 25%, 50%, 75%, 100% {margin-left: -10px;}
    12.5%, 37.5%, 62.5%, 87.5% {margin-left: 10px;}
}


@media (orientation: landscape) {
	#menu,
	#logo,
	#header .menu,
	#header .header-right {
		zoom: 67%;
	}
}

@media screen and (min-width: 1024px) {	
	#menu,
	#logo,
	#header .menu,
	#header .header-right {
		zoom: 67%;
	}

}