#otb-ui {
    clear: both;
}

.game-info {
    width: 45%;
    float: left;
}

.game-status {
    width: 50%;
    float: right;
}

.game-panel {
    height: 460px;
    position: relative;
}

#otb-status {
    width: 100%;
    text-align: center;
    font-size: 1.8em;
    height: 50%;
    overflow-wrap: break-word;
    overflow: normal !important;
    position: relative;
    white-space: normal;
    line-height: 1em;
    left: 0;
    bottom: -60%;
}

.otb-box img {
    width: 60px;
}

#otb-boxes-ui {        
    position: absolute;
    top: 0px;
    width: calc(100% - 24px);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    align-items: center;
}

#otb-boxes-ui > div {
    flex: 1 0 17%;
    margin: 20px 0px 20px 0px;
}

#otb-boxes-ui > div > img {
    width: 75px;
    height: 75px;
}

.game-panel .controls {
    position: absolute;
    top: 15px;
    left: 0px;
    text-align: center;
    width: 100%;
    height: 130px;
}

.game-panel .control {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
    display: inline-block;
}

.game-panel .game-control {
    height: 120px;
    margin: 10px;
}

table.info_table {
    margin: 20px 0 0 0;
}

.locked {
    opacity: 0.3 !important;
}